[2015-04-10 09:49] rtuin opened #14 "Add a UUID validator"

[2015-04-10 11:54] berry-langerak commented on #14
Sure buddy. Will build.

[2015-04-12 15:02] #14 closed

[2015-05-04 15:11] RickvdStaaij opened #26 "Add ability to override validation required <-> optional"
When a validator is created with a required field key, it can not be overridden to optional in a different context.

[code]

Currently `first_name` will always be required, this should get changed to optional for context `update`.

[2015-05-04 15:15] RickvdStaaij opened #27 "Make the default validation messages more user-friendly"
Currently the validation messages are not very user friendly. This should get improved before the version 1 release.

[2015-05-06 14:54] RickvdStaaij opened #28 "Add ability to validate sub-arrays"
Functionality to validate sub arrays is yet to be created:

[code]

[2015-05-14 13:49] NickBelhomme opened #31 "DateTime rule not validating dates correctly"
# Context

When passing a format to the datetime rule, it even accepts dates which are in another format because of the default behavior of the \DateTime implementation.

# Use Case
[code]
The above will give true while 19 can never be a correct month, nor can 78 be a correct day.

The issue lies within this part of the code:

[code]

which gives:
[code]
https://github.com/particle-php/Validator/b

[2015-05-15 06:35] berry-langerak commented on #31
That is a very excellent point, @NickBelhomme. I tend to forget this auto behaviour of `\DateTime`. Even though it can be helpful at times (start bill cycle on 29th of February == 1st of March), the functionality is not that useful when validating ;)

Will implement a fix soon!

[2015-05-15 07:23] RickvdStaaij commented on #27
Solved in #32

[2015-05-15 07:23] #27 closed

[2015-05-20 04:39] fireproofsocks opened #37 "Validate objects in addition to arrays"
Example scenario:

[code]

* Desired outcome: returns true.
* Actual outcome: "Argument 1 passed to Particle\Validator\Validator::validate() must be of the type array, object given"

[2015-05-20 07:51] berry-langerak commented on #37
Hi @fireproofsocks. Thanks for the feedback, much appreciated. To get a clear view of what you're asking: is it only for `\stdClass` objects, or would you like it if Particle\Validator could even use getters to get the values from your objects?

[2015-05-20 15:54] fireproofsocks commented on #37
I think it would have to be only stdClass or objects whose properties were available publicly (i.e. $obj->x and not $obj->get('x') et al).

The workaround is to do array conversion, e.g. something along the lines of:

[code]

[2015-05-20 15:54] #37 closed

[2015-05-20 18:13] RickvdStaaij commented on #31
This bug is solved in #35 and is in version 0.4.0, closing.

[2015-05-20 18:13] #31 closed

[2015-05-20 19:22] RickvdStaaij commented on #37
No problem at all, much appreciated!

[2015-05-21 07:02] berry-langerak commented on #37
@fireproofsocks don't apologise, I value all feedback. In response: I chose to type-hint the values to be of type `array` with a good reason: it's one of the most versatile data structures available in PHP, and it gives a well-defined interface without explicitly needing an actual interface, meaning every structure in your code can easily be transformed to array (e.g. XML, json, YAML, stdClass ins

[2015-05-24 14:15] berry-langerak commented on #26
This has been fixed in PR #40.

[2015-05-24 14:15] #26 closed

[2015-05-25 12:57] berry-langerak commented on #28
This was fixed in PR #41. Closing this issue.

[2015-05-25 12:57] #28 closed

[2015-05-27 09:33] RickvdStaaij opened #44 "Update documentation"
The documentation needs to be updated:

* [x] Validating sub-arrays
* [x] Throwing exceptions in callables

[2015-05-31 14:28] berry-langerak commented on #44
Done in PR #48. Closing issue.

[2015-05-31 14:28] #44 closed

[2015-06-01 10:43] gianarb opened #51 "isValid and isNotValid"
Hi! I don't know if it's a good idea but in my experience I find very comfortable this type of validator usage..

[code]
And
[code]
This approach helps developer to read code.. I don't know if it's only my opinion :)

In your opinion can we try to integrate this API in this library? :)
Thanks a lot for your work! :)

[2015-06-01 11:17] RickvdStaaij commented on #51
Hey, thanks for your suggestion. I've discussed this with @berry-langerak. We're all up for explicit naming, adding `isValid` will most likely improve the readability off the code. However, we wan't to keep the API as clean as possible, so we do not want to add multiple functions that pretty much do the same thing. `!$v->isValid()` will probably be good enough instead of implementing isNotValid.

[2015-06-01 12:06] gianarb commented on #51
oh yes I know that this feature is redundancy but

[code]
Is very difficult to read.. Explicit this function
[code]
In my opinion is a good implementation.. :) The code is more readable

[2015-06-03 09:10] NickBelhomme opened #53 "notices on validate() when no context chains are given."
# Context

When initiating a clean validator without attaching chains you get notices.

Why would you do this? To provision a clean validator and run a valid on it.
This is done when you provide a template method in which the children can define the chains (+ rules).

When the child class does not implement the template method it should not throw any notices.

The outcome TRUE is actually good in

[2015-06-04 07:04] berry-langerak commented on #53
Ouch. Will fix asap. :)

[2015-06-04 07:11] berry-langerak commented on #53
Has been fixed in https://github.com/particle-php/Validator/pull/54

[2015-06-04 07:29] RickvdStaaij commented on #53
Fix is merged, closing issue.

[2015-06-04 07:29] #53 closed

[2015-06-04 07:29] RickvdStaaij commented on #53
Also, fix is released in version `v1.0.2`

[2015-06-17 12:30] RickvdStaaij commented on #51
In #57, a ValidationResult is returned by the validate function. In the validationResult you can do isValid and isNotValid. This feature will be released in version 2. Closing issue as it's resolved.

[2015-06-17 12:30] #51 closed

[2015-06-19 07:13] NickBelhomme opened #59 "problems with the datetime rule format"
# What

When specifying a format to the datetime rule it does not use it consistent.

# reproduce

[code]

# Acceptance Criteria

The date format should be really validated

when I pass 2015125 it should fail because
Ymd
Y A full numeric representation of a year, 4 digits
m Numeric representation of a month, with leading zeros
d Day of the month, 2 digits with leading zeros

[2015-06-19 13:45] berry-langerak opened #64 "Support nested repeating arrays."
Since v1.0.0, we've the ability to validate sub-arrays using dot-notation. This is awesome and very useful for nested arrays. However, what hasn't been covered yet is validation of repeating groups. The following would be really nice to add for v2.0.0:

[code]

[2015-06-19 14:55] berry-langerak commented on #59
This was fixed in #63

[2015-06-19 14:55] #59 closed

[2015-06-25 09:32] NickBelhomme opened #68 "Url() rule is not sufficiently checking the protocol"
# What

When providing a protocol mistype the validator should spot this.

[code]

Currently the htdpt://someuri.com  returns true, but htdpt isn't a valid protocol.

# Acceptance Criteria
validate protocol as well

# tested
v1.0.4

[2015-06-25 09:35] berry-langerak commented on #68
I think it would be sufficient if there's a default whitelist of protocols you want to support, probably `['http', 'https']`, but having the option to pass in your own whitelist (e.g. `['ftp', 'http']`). What do you think about that solution?

[2015-06-25 09:36] NickBelhomme commented on #68
I think that would cover all the bases.

[2015-06-25 09:55] RobQuistNL commented on #68
``htdpt://`` is a valid protocol (or scheme actually). just like ``asdf-asdfasdf-3483-asdf://`` is a valid protocol / scheme. (In the context of a URI this part is called the scheme)

You need a whitelist option instead.

Check out https://tools.ietf.org/html/rfc3986#section-3.1

Also check out: https://github.com/Enrise/UriHelper

[2015-06-25 11:08] NickBelhomme commented on #68
We are interested in TCP/IP protocols:
Internetprotocollen volgens het TCP/IP-model
Toepassingslaag:	DNS · FTP · Gopher · HTTP · HTTPS · IMAP · IRC · NNTP · POP3 · RTP · SIP · SMTP · SNMP · SSH · TLS/SSL · Telnet · UUCP · XMPP
Transportlaag:	DCCP · SCTP · TCP · UDP
Netwerklaag:	ARP · ICMP · IGMP · IPv4 · IPv6 · RARP
Datalinklaag:	ATM · Ethernet · FDDI · PPP · Token ring · Wifi

In this case the to

[2015-06-25 11:09] RobQuistNL commented on #68
Well, except if you're going to use it in an API for, say, Sensimity, in which case we need custom schemes to launch apps;

my-app-id://information-for-app
steam://appid20499583
about:blank

All valid schemes and URI's

[2015-06-25 11:32] berry-langerak commented on #68
But guys, if I add an optional white list, all of your problems would be solved, right? You can optionally add steam:// about: and my-app-id:// to the white list and be done with it, where the default is just "http" and "https". So, yeah, I'll be implementing that.

[2015-06-25 12:10] skoop opened #69 "Fatal error when trying to get messages without running validation"
I get a fatal error when running the following code:

[code]

While the above code logically incorrect (no validation has been run), it could happen and should at least not fatal.

[2015-06-25 12:19] RickvdStaaij commented on #69
This is pretty much solved in version 2 aka the master brach, as you can't have getMessagea without the ValidationResult. A quick fix for version one might come in handy though

[2015-06-25 12:36] RobQuistNL commented on #68
As long as the whitelist is optional :)

[2015-06-25 19:16] skoop commented on #69
#70 contains a fix for this. let me know if this is acceptable

[2015-06-28 22:24] ramirovjr opened #75 "Messages in other languages"
Are you planning on support other languages for the messages?
I would be interested in translating to pt-BR.

[2015-07-06 14:44] RickvdStaaij commented on #69
The issue was resolved in #70 and released in `v1.0.5`, closing issue.

[2015-07-06 14:44] #69 closed

[2015-07-06 14:50] RickvdStaaij commented on #75
Hello @ramirovjr,

Currently, we don't have predefined multi-language support on the planning. The default messages could be translated with the `overwriteDefaultMessages()` function. I think you'll be rewriting the default messages anyway, if you want to add truly user friendly validation messages.

Thank you for your interest though, if we decide to pick this up, I'll be sure to contact you!

[2015-07-27 10:46] frankdejonge commented on #64
This would be a real big plus. While no dependencies is great, I do think mtdowling's jmespath.php package would be something to look at when and if this is implemented. Same goes for the current fetching of arguments. It's formalised, cross lingual and all-round awesome.

[2015-07-27 12:11] berry-langerak commented on #64
@frankdejonge thanks for the feedback. jmespath.php certainly does look very interesting for path resolution, I'll definitely look into it!

[2015-08-27 19:58] RickvdStaaij opened #80 "Output rules in a specific format"
Create an output function on the validator, that returns a ruleset in a desired output format.

After you configured the rules in the Validator, you might want to output the rules to a specific format. This is usefull when you want to have the same validation on your API and GUI, or the same validation in your front-end as you PHP for example.

Desired validator API:
[code]

[2015-08-30 09:59] berry-langerak commented on #80
Hi! The way I had imagined this functionality was that you could *only* pass in a `Callable` into output (which will receive a dumb tree of Transfer Objects). I really dislike the idea of adding converting to JSON or YAML, or XML into the library itself; we can create new repositories for doing that. Let's try to keep Validator itself as small as possible.

[2015-08-30 10:26] RickvdStaaij commented on #80
Yes fair enough, I updated the post and I added $messages to the resulted rule set.

[2015-08-30 10:27] berry-langerak commented on #80
Excellent :)

[2015-09-17 13:59] gsouf opened #83 "Failling rule triggers a fatal error when no message stack is set"
This makes a fatal error :

[code]

[2015-09-20 10:42] berry-langerak commented on #83
Hi @gsouf !

Thanks for taking the time to report this issue, and the PR to fix it. I fail to see why anyone would ever instantiate a rule, and call validate() on it, without using Particle\Validator. After all, the above logic should be triggered as:

[code]

Do you have any reason to deviate from that?

[2015-09-20 11:15] gsouf commented on #83
Hi Berry,

Indeed I did use the rule as a standalone without using the validator. That's how i got the fatal error.

[2015-09-20 11:28] berry-langerak commented on #83
@gsouf I understand that you did use it stand-alone, but my question is rather why you would do so? After all, it's trivial to use Validator like it's supposed to be used, and just not use the error messages. I feel it's important to note that if you use a "Rule" instance directly, this might get you into troubles later, because you're not using the interface of Validator, but using it's implement

[2015-09-20 11:38] gsouf commented on #83
Yes, the reason I firstly used it as a standealone it's because I wanted to take advantage of the rules and not of the whole library.
Actualy I end up using a message stack, because I needed it :
https://github.com/gsouf/UForm/blob/3d9c7047c2560d0018953444606fc88a74af99d3/lib/UForm/Validator/Particle/RuleBridge.php#L35
But in a first try I didnt need to use the message stack.

I think it's importa

[2015-09-21 13:35] skoop opened #85 "add a requiredIf/optionalUnless"
Sometimes you may have fields that are optional in some situations, but required in other situations. For instance in a form where one should fill in invoice address details with an optional different delivery address. Based on the checkbox 'different delivery address', the delivery address fields are either required or optional.

The situation I'm running into right now is that I mark the fields

[2015-09-21 15:13] RickvdStaaij commented on #85
In fact, that's already possible:

[code]

We should add that to the documentation :wink:

[2015-09-21 15:14] skoop commented on #85
oh, I love you guys. you already implemented the stuff I need! But yeah, having it in the documentation would be awesome :)

[2015-09-21 20:59] jaytaph opened #87 "UUID checks"
It should be possible to do check for other types of UUIDs (v1 to 5) in the UUID rule. However, there are some issues:

It's easy enough to check the version itself, but some uuid versions, like version 3 and 5, actually are hashes taken from other information (a `name` and a `namespace`). Thus, in order to validate *correctly* (not only syntaxly), this information must be passed to the rule itsel

[2015-09-22 07:54] skoop commented on #85
@RickvdStaaij hmm... either I'm doing something weird, or this doesn't actually work. I have the following code:

[code]

through good old var_dump/die debugging I've found out the required() function is returning true, yet the validations are not executed. Am I missing something?

[2015-09-22 10:42] #75 closed

[2015-09-22 13:24] berry-langerak commented on #85
@skoop You old bug finder. Can you build a reproduction thingy? As in, what data are you validating?

[2015-09-22 14:37] skoop commented on #85
@berry-langerak *evilgrin*

I'll have to build a fictional example, something about security and iso certifications and such. give me a minute.

[2015-09-22 14:41] berry-langerak commented on #85
Sure, thanks, would be nice. Can't reproduce it here, but there is one small weird thingy:

[code]

This is due to the fact that allowEmpty is true by default for optional rules, but maybe this is not the issue you're running into.

[2015-09-22 15:01] skoop commented on #85
it's going to be tomorrow, it is, gotta go now :)

[2015-09-24 07:17] RickvdStaaij commented on #80
This is completed in #82, and released in `v2.0.0-alpha.2` in preparation of `v2.0.0`.

[2015-09-24 07:17] #80 closed

[2015-09-24 07:33] berry-langerak opened #88 "Support mounting of chains"
## Context

Currently, the process of extending the validator is quite hard, as you need to create two classes yourself. Additionally, the process of constructing rules and chains is now limited to the public API of Validator itself, meaning there's no way to "attach" or "mount" your own chains on the Validator, which could be nice in some cases.

## Example

[code]

That will allow people to moun

[2015-10-29 11:06] jaapverloop opened #89 "Alter value before/after validation"
I'm wondering whether it's possible or desired to alter a value before/after validation. For example, I would like to use this to trim a string before validating a certain length, or to cast a numeric value to a float after validation.

[2015-10-29 11:57] RickvdStaaij commented on #89
@jaapverloop we created https://github.com/particle-php/Filter for this. The array you want to validated could be filtered before, and after your validation. We decided to do this in separate particles, to not make one particle bloated with features you might not want to use.

I hope this answered your question, if not please let us know :wink:

[2015-10-29 13:12] jaapverloop commented on #89
Ok, thanks! I will check it out.

[2015-10-29 13:12] #89 closed

[2015-10-30 10:09] berry-langerak commented on #64
This has been implemented in https://github.com/particle-php/Validator/pull/90

[2015-10-30 10:10] #64 closed

[2015-10-30 10:17] berry-langerak commented on #87
Hey! Thanks for taking the time to create an issue. I think having support for different versions of UUIDs (after all, it takes a version parameter). I'll put this on the road map for v2.1.

[2015-10-30 10:18] berry-langerak commented on #85
@skoop any chance you could get me a reproduction scenario, so we can test and fix this?

[2015-10-30 10:19] berry-langerak commented on #83
Hi @gsouf. I'm going to close your issue. If you ever run into the need to use a rule separately from the Validator itself again, we can of course fix it ;)

[2015-10-30 10:19] #83 closed

[2015-10-30 10:21] berry-langerak commented on #68
Oh my, totally forgot about this one! Will fix! :)

[2015-10-30 12:18] berry-langerak commented on #68
Added in pull request: https://github.com/particle-php/Validator/pull/92

[2015-10-30 12:44] #68 closed

[2015-10-30 13:36] #88 closed

[2015-11-01 13:40] jaytaph opened #97 "Length validation does not adhere multibyte chars"
It seems that detecting lengths on strings will use the `strlen()` function. This causes issues when detecting multibyte strings, as `strlen()` count bytes, not characters.

Example:

    $v->required('user.first_name')->lengthBetween(2, 5)->alpha();
    $result = $v->validate([
        'user' => [
            'first_name' => 'Björk',
        ],
    ]);

will thrown an error on validation, indicat

[2015-12-03 11:10] mmf commented on #97
fixed here

https://github.com/particle-php/Validator/pull/106

[2015-12-19 19:40] jhuet opened #110 "Copying multiple contexts ?"
Say i have a username and a password field and i want to have both a backend ajax validation on each field and a final validation of both fields on submit. Of course i'd like to do so without having to re-declare the rules for each field in the single and multi validation.

The best solution i thought i could come up with is :

[code]

Unfortunatly, copies of contextes don't cumulate but erase eac

[2015-12-20 17:56] jhuet opened #111 "Compare to another field value"
I'm trying to compare if the value i'm validating is the same as the value in another field. A basic example would be a password confirmation. Is there a way to do so ?

If not, i think a nice way to implement it would be to make it available in actual rules instead of making a new one. For example the `equal` rule could accept a raw value like now or a reference to another field. Same with `betwe

[2015-12-20 19:35] RickvdStaaij commented on #111
Hello @jhuet,

It is possible to do a password equals check using the callback validator like this:

[code]

I don't think we have the callback rule documented clearly enough, I will keep this ticket open until we improved the documentation.

About your suggestion on the element references, could be a nice addition to the library and I might look into adding it. Thank you for the suggestion!

[2015-12-20 19:50] RickvdStaaij commented on #110
Hello @jhuet,

I've been trying to understand what you're doing, but you say you want to do ajax validation per field? I have a completely different suggestion for you, might help you out:

Since Validator 2.0 we support an [output method](https://github.com/particle-php/Validator/blob/master/docs/output.md). With this method you could create a json array containing all the validation rules. If yo

[2015-12-20 20:25] jhuet commented on #110
Hi @RickvdStaaij, thanks for you answer. Sorry if i'm not being clear enough here but my concern is not about the format of the validation and how it's gonna be consumed by the client :) My concern is about not wanting to repeat my validation rules if i do a single field validation on an ajax call and another global validation containing all the form fields to validate at once.

I think i got lost

[2015-12-20 20:27] jhuet commented on #111
Hey @RickvdStaaij, oh that's cool ! I didn't know you could have direct access to other values in the 2nd parameter. I guess it solves my problem even though i still like my idea ;)

[2016-01-12 14:02] jhuet commented on #110
The thing here is that it really feels like i'm re-using the concept of contextes by doing that. My `validateAll` method is like a *all* `context`. I could make another one called `validateInsert` and use it only for inserts.

I'm coming back to my 1st idea here, i think we should be able to copy multiple contextes into one. Unless you see another way to combine both single field validation and mu

[2016-04-14 13:43] castarco opened #125 "[Feature Request] Array length validation"
It would be nice to allow Particle Validator to check array lengths.

I want to add this feature by myself in a few days, but I'm writing this issue to "document" it and allow other people to discuss about whether this is a good idea or not.

[2016-04-14 13:45] castarco opened #126 "[Feature Request] Purely sequential array validation"
It would be nice to allow Particle Validator to check if arrays are sequential lists or not. It's not the same having an ordered list than having an associative array, which is technically equivalent to a "dictionary" or a "map".

I want to add this feature by myself in a few days, but I'm writing this issue to "document" it and allow other people to discuss about whether this is a good idea or no

[2016-04-14 14:03] berry-langerak commented on #125
Go for it! Sounds like a good check. I think Particle\Validator (so, me) kind of neglected validating arrays within the array you're validating anyway, even with the introduction of `each`. Thanks!

[2016-06-08 07:31] jaytaph opened #127 "Zero dependencies yet it depends on two packages"
### What

It depends on two packages in the `composer.json`:

      "byrokrat/checkdigit": "^1.0",
      "giggsey/libphonenumber-for-php": "^7.2"

### What is expected

zero dependencies :)

[2016-06-08 07:45] RickvdStaaij commented on #127
After some consideration we've added two framework agnostic packages indeed, but you're right, the readme states otherwise. We will update this.

[2016-06-08 07:52] berry-langerak commented on #127
[Fixed](https://github.com/particle-php/Validator/pull/128), although I haven't removed the dependencies, I simply removed the lie. I'm going to have a tinker about if we can actually get back to zero dependencies by making them optional.

[2016-06-08 07:52] #127 closed

[2016-07-30 01:17] jschreuder opened #140 "Make dependencies optional"
### What

The byrokrat/checkdigit also requires BCMath, and is only necessary for creditcard number checks if I understand the change correctly. Similarly the other dependency is only necessary for phone numbers. Both are perfectly fine to require for those validators, but shouldn't be full requirements. You can make them optional and add them as suggestions in the composer.json file, along with a

[2016-07-30 22:14] RickvdStaaij commented on #140
Personally, I like this suggestion a lot! :+1: We need to make it explicit in the documentation too then. @berry-langerak what do you think?

[2016-08-05 09:49] RickvdStaaij opened #142 "Changing optional to required will not trigger errors when provided an empty string"
### What

When making an optional field required if another field is set, the validation is not correctly executed in the following case:

[code]

### What is expected

Since the `bar` field exists in the array, the `lengthBetween` validation should be executed. It looks like the "allowEmpty" rule is not removed

### Note

This only happens when you enter an empty string, if you change the value o

[2016-08-05 09:50] RickvdStaaij commented on #85
I'm going to close this to make a more concrete issue: https://github.com/particle-php/Validator/issues/142. @skoop if you run into the issue again, please let us know the details :)

[2016-08-05 09:50] #85 closed

[2016-08-05 09:58] RickvdStaaij commented on #126
@castarco so you would like to check if the array keys are actually like `$array[0], $array[1], $array[2]`? If you still want to add it, go for it! :wink: I haven't heard of any other people who would like to use this though, so I'm going to close the issue. Feel free to re-open it (or just implement it and push the PR) if you feel that it will be off value to other as well :)

[2016-08-05 09:58] #126 closed

[2016-08-05 10:05] RickvdStaaij commented on #110
@jhuet I don't see a better way of doing it, but I also don't think its too bad to define copy over some validations for an update or an insert. Combining the context like you do would be a solution, but I don't think it's getting any cleaner than that. I'm closing this issue now, feel free to reopen it if you have any additions or idees

[2016-08-05 10:05] #110 closed

[2016-08-05 10:07] RickvdStaaij commented on #97
Above PR didn't come through, this is still an open issue.

[2016-08-05 10:10] RickvdStaaij commented on #140
I'm discussing a proper fix within my team @Enrise, please bear with me :wink:

[2016-08-05 10:17] RickvdStaaij opened #143 "Validating array keys"
### What

In https://github.com/particle-php/Validator/pull/116 @camcima presented a way to make array keys testable. With the given PR, array keys are converted into a value in the array, which then becomes testable the regular way. Thus, a key value "magically" appears in your data array.

We need to think if there is a better solution for this. For example if it would be possible to:

[code]

T

[2016-08-05 11:31] RickvdStaaij commented on #140
Ok I'm going to do this as following:

1. I'm going to make a v2.1 branch, where I'm going to push #141 to, and then release `v2.1.1` for that.
1. I'm also going to release `v2.2.0` with the latest work in master, and including the fix in #141

After that's done I'll close this issue.

Thanks to @rtuin and @david4worx for figuring the best way to go here, and a big thanks to @jschreuder for sugges

[2016-08-05 11:34] jschreuder commented on #140
And thank you for the quick response!

[2016-08-05 12:01] RickvdStaaij commented on #140
I released [v2.1.1](https://github.com/particle-php/Validator/releases/tag/v2.1.1) and with that resolved this issue. I will try to make a 2.2.0 release today too with the latest work from `master`!

[2016-08-05 12:01] #140 closed

[2016-09-12 10:40] RickvdStaaij commented on #87
Fixed and improved thanks to @jschreuder!

[2016-09-12 10:40] #87 closed

[2016-09-23 06:55] rsandimbefore opened #146 "Rule Class for comparing other fields"
### What I would create

Hi, I would like to create another rule for reuse logic instead coding same logic in callbacks approach. I made success coding simple logics (using the manual to extending Particle), but when I've tried to create one rule named greaterThanDate($param), where $param is the name of field that I suppose do compare it. It not works.

### What is expected

[code]
As you can see

[2016-10-14 13:13] schnittstabil opened #153 "Is CONTRIBUTING.md outdated?"
### What
I want to create some PRs for some typos and improvements, but I'm a bit confused by `.github/CONTRIBUTING.md`:

But there is no `v2` branch!?

### What is expected

Basing PRs on the `master` branch:  I can't know if my fixes will be merged into `v1`, `v2` or both or anywhere else as well – but the bugs are in `master`, hence I want them to be fixed in `master`.

[2016-10-14 13:24] RickvdStaaij commented on #153
Hello @schnittstabil, master is the latest version, so it represents version 2. Please push your pull requests towards the master branch :) (unless you want to do a specific fix for an old version, but that's not the case)

I will clarify this in the `CONTRIBUTING.md`, thank you for bringing this to our attention!

[2016-10-14 13:39] #153 closed

[2016-10-14 16:19] schnittstabil opened #157 "[Feature Request] `greaterThanOrEqual` and `lessThanOrEqual`"
### What

`greaterThan()`, `lessThan()` and `between` are great, but these doesn't always feel right:

[code]

### What is expected

`greaterThanOrEqual` and `lessThanOrEqual` rules:

[code]

[2016-10-15 20:51] RickvdStaaij commented on #157
Hi @schnittstabil, thank you for your suggestion! The thing for Particle\Validator, is that we want to keep the library as small as possible, but we want to provide the most used validation rules. So I understand how adding these functions can make your code more explicit/logical, but do we really want to add these since the functionality is more or less the same? What do you think?

[2016-10-15 21:02] RickvdStaaij commented on #146
Hello @rsandimbefore, sorry for the late reply, I lost track of this issue.

To answer your question, on the abstract `Rule` class, there is an attribute `$values`, but when I check the code, only in the `Rule\Callback` class that value is actually filled ([here](https://github.com/particle-php/Validator/blob/master/src/Rule/Callback.php#L101)). We could change that for all classes by filling the

[2016-10-15 21:02] #146 closed

[2016-10-15 23:05] schnittstabil commented on #157
To be honest, I don't know if `->between(0, PHP_INT_MAX)` and `->between(0, INF)` have any drawbacks. As `PHP_INT_MAX` depends on the platform and `INF`  is a `double`, it is at least not obvious to me that these work on all edge cases.

OBTW, I intended create a PR – of course, only if this feature is welcome.

[2016-10-25 18:37] adriansuter opened #158 "Method signature in docblock of extending Validator class needs correct parameters"
First of all, thanks for this great tool.

I have found an issue using PHPStorm IDE (version 2016.2.2).

In the docs you wrote (http://validator.particle-php.com/en/latest/extending/), the docblock for the custom Validator to be as follows:

[code]

Doing this would give me the following warning message:

![clipboard01](https://cloud.githubusercontent.com/assets/3974990/19698949/98636e44-9af1-11e6

[2016-10-25 20:12] RickvdStaaij commented on #158
Great suggestion @adriansuter, I will make sure this gets updated soon. Also feel free to adjust it yourself in a PR, if you want the credits for it :wink:

[2016-10-25 20:44] adriansuter commented on #158
Done. See #159

[2016-10-28 07:33] adriansuter opened #160 "Multibyte String Functions"
### What

I suggest to use multibyte string functions, because otherwise it is possible to get wrong results. UTF8 for example takes 2 bytes to store ä, i.e. strlen would return 2. But the correct answer would be 1.

See for example in Rule/Length.
### Problem

Either we force the user to use UTF8, or we provide the encoding as option. Currently I have not seen a possibility to set options globall

[2016-10-31 10:59] adriansuter commented on #160
I made a pull request with the multibyte string functions added.

See #161.

Or do you think this is already a too complicated step and would go outside of the scope for this project (make it as simple as possible)?

[2016-12-20 19:41] BramZet opened #163 "Question: how to use ->each on an array without key?"
### Missing documentation? or is it not possible?

I'd like to validate all values in an array (points) that itself does not have a string key, by using ->each as in the docs, but I can't get it to work.

[code]

[code]

The problem is that I do not have a 'key' to set in the last line.
Is this possible? Or do I need to write a callback?

[2016-12-21 10:15] RickvdStaaij commented on #163
@BramZet I'm sorry but it's not possible to do validation on fields without a key. A callback or a custom validation rule would solve the issue here like you mentioned.

[2017-05-15 16:03] vova07 opened #165 "Conditional validation"
Hi there, first of all thanks for a great library.

I have a question about conditional validation, because my biggest problem is that the library is completely dependent on array keys.

Here is what I need:
[code]

I can add a new rule `When` which will check if one or another key is set and validate it there, but how can I require or skip a key when there is or not another key set ?

Thanks!

[2017-05-16 12:58] berry-langerak commented on #165
Thanks for your question. As far as I can tell, your intention is to mark a value as required if some condition is met, right? In that case, you can use conditional requiredness. In this case, you can make it required, and optional only if some condition evaluates to `true`:

[code]

We didn't document this though, sorry for that. Will do so anyway :)

[2017-05-16 14:56] vova07 commented on #165
Yes, I need a required key in dependence of other keys.
For example:
I need `amount` to be required only if there are no `price` and `unit` or viceverca.

When I use you example I got this error:
[code]

The used code is really sample:
[code]

[2017-05-16 15:49] vova07 commented on #165
Ok .... after I read `Chain` class I think you made a small mistake, code should be:
[code]

[2017-05-17 08:44] #163 closed

[2017-05-17 08:51] adriansuter commented on #158
Great.

[2017-05-17 08:51] #158 closed

[2017-09-19 11:20] heiglandreas opened #167 "valid email-addresses with IDNs do not validate"
### What

When I try to validate an email-address with an IDN-Domain (like "test@exämple.com") the validation will always fail.

### What is expected

The validation should only fail when the email-address is actually invalid.

Due to the validator using the ```filter_var``` underneath, the domain-name should perhaps be punycode-encoded before passing it to the ```filter_var```. But perhaps [this

[2017-12-12 02:10] FinesseRus commented on #125
What about adding a universal `min` and `max` rules which test numbers, strings lengths and arrays lengths?

[2017-12-12 19:32] camuthig opened #172 "Each rule does not support extended Validator"
### What

When extending the validator to add additional rules, it is required to create a new class and instantiate that when using the package.

If doing this, the Validator created for the `each` rules, will always be an instance of the standard `Validator` instead of the custom `Validator`.

To fix this, I've found I had to extend the `each` function on my `Chain` implementation. Currently onl

[2017-12-13 10:12] RickvdStaaij commented on #172
@camuthig You're absolutely right! This is an issue.

Instead of overriding the function, maybe we can push a `new self()` from the `Validator` class, so it will use your extended validator instead of the one provided in the library.

[2017-12-18 16:35] camuthig commented on #172
Where would you push it from? Would it be part of the `Validator` constructing the chain initially? Or would it have to be passed in when calling `each` like `$validator->required('test')->each(new MyValidator(), function (MyValidator $validator) {...});`

[2017-12-19 09:37] RickvdStaaij commented on #172
I won't be the prettiest solution, but I was thinking about passing it along with the `Validator::buildChain`, and then setup a globalized way to pass the Validator class to either every, or the specific rules that need it. What I want to prevent is having to declare it multiple times in the code that should only be validating.

[2018-01-17 14:36] vova07 opened #174 "Type checking rules didn't brake the chain and it cause a fatal exception"
### What

[code]

### What is expected

[code]

### What actually we got

[code]

### Reason
Because the primitive rules didn't brake the chain, the `lengthBetween` rule fail because of wrong value it get to validate.

### Link to the PR with a fix
https://github.com/particle-php/Validator/pull/173

[2018-01-18 12:16] RickvdStaaij commented on #174
This issue is now resolved in [v2.3.1](https://github.com/particle-php/Validator/releases/tag/v2.3.1). Thanks a lot @vova07!

Feel free to open another improvement issue / PR to enhance the adjustability of the break-chain boolean.

[2018-01-18 12:16] #174 closed

[2018-01-18 12:19] vova07 commented on #174
Thanks for your hard work!

[2018-01-18 14:43] RickvdStaaij commented on #174
You did all the hard work though @vova07 :wink:

[2018-01-19 21:22] creocoder opened #176 "Packagist version"
### What

Packagist still contains old 2.3.0 version.

### What is expected

Lastest version after release. It's possible by enabling the packagist service hook. More info: https://packagist.org/about#how-to-update-packages

[2018-01-21 15:16] RickvdStaaij commented on #176
Hey @creocoder thanks for noticing, we set this up previously, not sure why it isn't working.

I would fix it if I could, but I don't have the access on packagist. @berry-langerak could you take a look? And maybe give me access too :wink:

[2018-01-25 09:30] berry-langerak commented on #176
I pulled in the new version manually. It seems packagist didn't like the content of the licence in the composer.json file, will fix later. Ah, and you're now a maintainer, @RickvdStaaij

[2018-01-25 19:44] vova07 opened #179 "[CRITICAL] Break chain is not skipped on success validation result"
### What
In case we have a chain of rules and one of rule will have sett up brick chain, the validation will pass even with wrong data juts because the next rules will be skipped by chain.
The problem is that break chain should be considered only in case the specific rule fail but not always as it is right now. (Expecting Required rule.)

[code]

### What is expected

[code]

### PR to reproduce t

[2018-01-27 12:03] creocoder commented on #179
@berry-langerak , @RickvdStaaij Can you please look into this? Without that fix current master contains critical bug.

[2018-01-29 13:12] allanbarbosa opened #180 "[Documentation] Diference between Doc and Package"
### What

Hello, good morning.
I am using your package and i notice that the documentation about the NotEmpty validate on optional fields is not equal in the package code. In your documentation you said that the optional validation accept by default the allowEmpty = false, but in the code package is inverse, the allowEmpty = true.

### What is expected

Change the code package or change the docume

[2018-01-30 10:06] RickvdStaaij commented on #179
Merged and released:

https://github.com/particle-php/Validator/releases/tag/v2.3.2

Packagist should automatically update again too.

Thanks a lot @vova07! Also thank you @creocoder for the helping hand :) :+1:

[2018-01-30 10:06] #179 closed

[2018-01-30 10:11] RickvdStaaij commented on #176
Thanks @berry-langerak.

This issue is new resolved by issuing the correct licence key in the `composer.json` file :wink:

[2018-01-30 10:11] #176 closed

[2018-01-30 10:19] RickvdStaaij commented on #180
@allanbarbosa good catch, in `optional($key, $name = null, $allowEmpty = true)` allow empty is true by default, instead of false as the documentation suggests.

@berry-langerak do you know if there was a specific reason for this? Or should I revert it to be false by default.

[2018-01-30 10:46] allanbarbosa commented on #180
@RickvdStaaij thank you, this is a excelent package. Good job.

[2018-01-30 11:10] berry-langerak commented on #180
Hi. If something is optional, I think the most logical default would be to allow the value to be empty. Right?

[2018-01-30 13:43] RickvdStaaij commented on #180
Hmm I'm not sure if that's the most logical, I can't really decide. But I think that it's probably better to adjust the documentation at this point. It might lead to unexpected behavior for people who rely on this principle. I'll create a PR to update the docs soon. Agreed? :)

[2018-03-26 20:52] 2e3s opened #183 "Validate empty value's type"
Requirements:
`[ 'field' => [] ]` is a correct value
`[ 'field' => '' ]` is an incorrect value

But I can't validate this with Particle because it breaks the chain when you specify `$validator->required($name, null, true)`. When `allowEmpty` is `false` it returns a failure on valid `[]`. Same goes for `''`.

The break is unconditional, so I can't influence it:
https://github.com/particle-php/Valid

[2018-10-29 13:20] lineofsky2017 commented on #163
I want to validate this style of data.
[code]
How can I do with this to check every element?

[2018-11-07 11:35] whatTool opened #190 "Problems with lengthBetween & equals"
### What
Hello,
I am trying to use your Validation class to validate the length of a string and compare it another string.

Here is my code

        $v->required("newPassword")->lengthBetween(8, null);
        if($v->validate(["newPassword" => $_POST["newPassword"]])->isNotValid()){
            //error
        }else
            $newPassword = $_POST["newPassword"];

        $v->required("repeatPas

[2019-01-07 15:55] RobQuistNL opened #193 "Hash rule is not what it tells you it is"
### What

The hash rule actually validates against a `hexidecimal string representation` of a hash. You might want to add that in the name, because in essence the hashes named are just strings of bits / bytes. The fact that PHP represents most in hex doesn't mean that something is a valid / invalid hash.

### What is expected

Rename it to `HashRepresentation($hash_algo, Hash::HEXIDECIMAL_INSENSIT

[2019-01-07 16:00] RobQuistNL commented on #190
You might want to try the latest build, there was an issue with re-using validator chains which has since been fixed.

Also from your code it looks like you're using 2 validation calls, which is not needed (and also triggers the bug that was there: https://github.com/particle-php/Validator/pull/192);

Your code will work like this as well:

[code]

[2019-01-07 16:02] RobQuistNL commented on #183
You could try to use `isArray` instead of `required` ? It will basically cause the check to work correctly (as `[]` will now validate, but `null` will not)

[2019-01-11 09:49] #190 closed

[2019-03-24 07:04] denymz opened #194 "一个关于Url 验证的问题"
首先说一句抱歉，因为我的英语很不好。也非常感谢作者的这个项目，让我节省了很多时间！
不过今天在使用时在文档中发现了一个错误：
Link ： http://validator.particle-php.com/en/latest/rules/#url

以下是文档中的一段演示代码 ：
$v = new Validator;
$v->required('link')->url(['ftp://', 'ftps://']);
$v->validate(['link' => 'ftp://particle-php.com'])->isValid(); // true
$v->validate(['link' => 'http://validator.particle-php.com'])->isValid(); // false

不过这其中是存在问题的，上面这段代码的运行结果都是false；
因

[2019-03-27 20:29] nesl247 commented on #143
Any update on this? I just went to use the validator in a new project and realized this isn't currently possible.

[2019-04-04 10:14] #194 closed

[2019-04-04 10:43] RickvdStaaij commented on #194
Sorry, English please :innocent:

[2019-05-28 03:46] 2e3s commented on #183
We've decided to go with less strict validation back then so it can be closed. Ideally it's better to be typed though.

[2019-05-28 03:46] #183 closed

[2019-06-13 20:03] #160 closed